/* Druk - SuperItalic */
@font-face {
    font-family: 'Druk';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(https://gaiacostanzo19.github.io/sac-fonts/Druk-SuperItalic-Trial.otf) format('opentype');
}
