/* Druk - Super */
@font-face {
    font-family: 'Druk';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://gaiacostanzo19.github.io/sac-fonts/Druk-Super-Trial.otf) format('opentype');
}
