/* PP Fraktion Mono - Regular Italic */
@font-face {
    font-family: 'PP Fraktion Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://gaiacostanzo19.github.io/sac-fonts/fonts/PPFraktionMono-RegularItalic) format('opentype');
}
