/* PP Fraktion Mono - Regular */
@font-face {
    font-family: 'PP Fraktion Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://gaiacostanzo19.github.io/sac-fonts/PPFraktionMono-Regular.otf);
}
