/* PP Fraktion Mono - Bold Italic */
@font-face {
    font-family: 'PP Fraktion Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://gaiacostanzo19.github.io/sac-fonts/fonts/PPFraktionMono-BoldItalic) format('opentype') ;
}
